{* This is a comment block

Use vars: {{var var_name}}
*}<!--@subject Betalingstransaksjon feilet @-->

<table>
    <thead>
        <tr>
            <th>Betalingstransaksjon feilet.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>
                    <b>&Aring;rsak</b><br />
                    {{var reason}}
                </p>
                <p>
                    <b>Utsjekkingstype</b><br />
                    {{var checkoutType}}
                </p>
                <p>
                    <b>Kunde:</b><br />
                    <a href="mailto:{{var customerEmail}}">{{var customer}}</a> &lt;{{var customerEmail}}&gt;
                </p>
                <p>
                    <b>Varer</b><br />
                    {{var items}}
                </p>
                <p>
                    <b>Totalsum:</b><br />
                    {{var total}}
                </p>
                <p>
                    <b>Fakturaadresse:</b><br />
                    {{var billingAddress.format('html')}}
                </p>
                <p>
                    <b>Leveringsadresse:</b><br />
                    {{var shippingAddress.format('html')}}
                </p>
                <p>
                    <b>Leveringsmetode:</b><br />
                    {{var shippingMethod}}
                </p>
                <p>
                    <b>Betalingsmetode:</b><br />
                    {{var paymentMethod}}
                </p>
                <p>
                    <b>Dato & Tidspunkt:</b><br />
                    {{var dateAndTime}}
                </p>
            </td>
        </tr>
    </tbody>
</table>