<!--@subject {{var store.getFrontendName()}}: Kreditnota # {{var creditmemo.increment_id}} oppdatert @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var order.increment_id":"Order Id",
"var order.getStatusLabel()":"Order Status",
"store url=\"customer/account/\"":"Customer Account Url",
"var comment":"Credit Memo Comment",
"var store.getFrontendName()":"Store Name"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
        <tr>
            <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
        </tr>
        </table>

        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
        <tr>
            <td valign="top">
                <p>
                    <strong>Kjære {{htmlescape var=$order.getCustomerName()}}</strong>,<br/>
                    Din ordre # {{var order.increment_id}} har blitt <br/>
                    <strong>{{var order.getStatusLabel()}}</strong>.
                </p>
                <p>Du kan sjekke status på din ordre ved å<a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">logge inn på din konto</a>.</p>
                <p>{{var comment}}</p>
                <p>
                    Hvis du har noen spørsmål vedrørende din ordre kan du kontakte oss på <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> eller ringe oss på <span class="nobr">{{config path='general/store_information/phone'}}</span> i våre åpningstider {{customVar code=business_hours}}.
                </p>
                <p>Med vennlig hilsen,<br/><strong>{{var store.getFrontendName()}}</strong></p>
            </td>
        </tr>
        </table>
    </td>
</tr>
</table>
</div>